<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>用户添加</title>

<style type="text/css">
input{
width: 200px;height: 20px;
}
</style>
</head>
<body>
用户添加
<hr>
<div style="margin: 30px auto auto 50px;width: 100%;height: 100%" >
<form action="add" method="post">
姓名:<input type="text" placeholder="realname" name="realname" id="realname" value=""><br><br>
账号:<input type="text" placeholder="username" name="username" id="username" value=""><br><br>
密码:<input type="password" name="password" id="password" value="123456"><br><br>
号码:<input type="text" placeholder="tell" name="tell" id="tell" value="1535925"><br><br>
邮箱:<input type="text" placeholder="email" name="email" id="email" value="928464@qq.com"><br><br>
小区:<input type="text" placeholder="plotid" name="plotid" id="plotid" value="001"><br><br>
单元:<input type="text" placeholder="unit" name="unit" id="unit" value="01#"><br><br>
房号:<input type="text" placeholder="house" name="house" id="house" value="02"><br><br>
<input type="submit" value="submit"><br><br>
</form>
</div>
</body>
</html>